.home__page-intro {
  h1 {
    font-size: 40px;
    color: rgb(24, 144, 255);
    font-weight: bold;
  }
  .intro__sub-title {
    font-size: 24px;
    font-weight: 600;
  }
}

.intro-list {
  display: flex;
  align-items: space-between;
  justify-content: center;
  .intro-item {
    display: flex;
    align-items: center;
    img {
      width: 75px;
      height: 75px;
    }
    .intro-item-text {
      margin-left: 10px;
      h3 {
        color: rgb(24, 144, 255);
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
      }

      p {
        font-size: 16px;
        margin-top: 17px;
        color: #aaa;
      }
    }
    &:nth-child(2) {
      margin: 40px;
    }
  }
}
